#cart .woocommerce{
    img{
        width:100% ;
    }
    .product-thumbnail {
        max-width: 60px;
    }
    table.shop_table {
        border: 0px;
    }
    .input-text{
        width: auto;
        font-size: $body-sm;
        padding: 10px;
    }
    a.button.alt{
        background-color: $contrast-dark;
        font-size: $display-md;
    }
    button.coupon{

    }
    input.coupon{

    }
    input.qty{
        width: 3.631em;
    }
    .woocommerce-info{

        text-align: center;
        border: none;
        margin: 0;
        padding: 0;
        background: transparent;
        
        &::before{
            content: "";
        }
    }
    .return-to-shop{
        display: flex;
        justify-content: center;
        .button.wc-backward{

        }   
    }
}