@import "variables/colors";

#front-page{
    .hero{
        background: $primary;
        position: relative;
        height: 500px;
        margin-bottom: 254px;
        .text{
            margin: 0 auto;
            max-width: 600px;
            text-align: center;
            padding: 40px 0 40px 0;
            p:nth-child(1){
                text-transform: uppercase;
            }
        };
        img{
            width: 800px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
        }
    }
    .starterpack{
        text-align: center;
        position: relative;
        a{
            text-decoration: underline;
        }
        p{
            position: relative;
        }

        .blue-circle:nth-of-type(1){
            width: 330px;
            height: 330px;
            opacity: .1;
            border-radius: 100%;
            background: #2699fb;
            position: absolute;
            left: 50%;
            top: 0%;
            transform: translate(-180px, 10px);
        }
        .blue-circle:nth-of-type(2){
            width: 60px;
            height: 60px;
            opacity: 0.1;
            border-radius: 100%;
            background: #2699fb;
            position: absolute;
            left: 50%;
            bottom: -80px;
            transform: translate(-230px, 0px);
        }
        .blue-circle:nth-of-type(3){
            width: 90px;
            height: 90px;
            opacity: 0.1;
            border-radius: 100%;
            background: #2699fb;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(130px, 0px);
        }
        .fruits{
            height: 120px;
            position: relative;
            img{
                left: 50%;
                top: 0%;
                position: absolute;
            }
        }
    }
    .featured-products{
        margin: 0px auto;
        text-align: center;
        .image{ width:100%;}
        .title{}
        .excerpt{
            max-width: 330px;
            margin: 0 auto;
        }
        .price{
            font-family: $display;
            font-size: $display-size;
        }
        .add-to-cart-button{
            width: 50px;
        }
        .flex{
            display: flex;
            justify-content: center;
            gap: 30px;
        }
    }
    .symbols-container{
        position: relative;
        margin: 100px auto;
        margin-top: 170px;
        max-width: 700px;
        &>p:nth-of-type(1),&>img:nth-of-type(1){
            position: absolute;
        }
        .symbols{
            display: inline-flex;
            gap: 40px;
            text-align: center;
        }
    }
    .about-greeny{
        background: $primary;
        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 130px;
            

            .card{
                text-align: center;

                .symbol{
                    display: inline;
                    width:100px;
                }
            }
        }
    }
    .blog-card{
        display: flex;
        margin-bottom: 40px;
        .container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        img{
            width: 40%;
        }
        .title{}
        .excerpt{

        }
    }
    .newsletter{
        border: 3px solid $dark;
        position: relative;
        text-align: center;
        padding: 60px 20px;
        margin-top: 120px;
        img.paperplane{
            position: absolute;
            top: 0;
            left: 50px;
            width: 210px;
            background: $light;
            padding: 18px;
            transform: translateY(-50%);
        }
        .title{
            font-family: $display;
            font-size: $title-size;
        }
        .subtitle{
            font-family: $display;
        }
        hr{
            max-width: 320px;
            width: 90%;
        }
        .text{
            font-family: $display;
            font-size: $display-size;
            max-width: 320px;
            margin: 0 auto;
        }
        .big{
            font-size: $title-size;
        }
        .es_shortcode_form{
            margin-top: 50px;
        }
        input{}
        .es_subscription_form_submit{}
    }
}