@import "variables/colors";

#front-page{
    .hero{
        background: $primary;
        position: relative;
        height: 500px;
        margin-bottom: 334px;
        padding-top: 140px;
        .text{
            margin: 0 auto;
            max-width: 600px;
            text-align: center;
            padding: 40px 20px;
            p:nth-child(1){
                text-transform: uppercase;
            }
        };
        img{
            max-width: 800px;
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            margin: 0 auto;
            display: block;
        }
        @include lt-sm{
            height: 420px;
        }
    }
    .starterpack{
        text-align: center;
        position: relative;
        height: 350px;
        a{
            text-decoration: underline;
        }
        p{
            position: relative;
        }

        .blue-circle:nth-of-type(1){
            width: 330px;
            height: 330px;
            opacity: .1;
            border-radius: 100%;
            background: #2699fb;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .blue-circle:nth-of-type(2){
            width: 60px;
            height: 60px;
            opacity: 0.1;
            border-radius: 100%;
            background: #2699fb;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translate(-190px, 0px)
        }
        .blue-circle:nth-of-type(3){
            width: 90px;
            height: 90px;
            opacity: 0.1;
            border-radius: 100%;
            background: #2699fb;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(170px, 40px);
        }
        .fruits{
            height: 120px;
            position: relative;
            img{
                left: 50%;
                top: 0%;
                position: absolute;
            }
        }
    }
   
    
    .about-greeny{
        background: $primary;
        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 130px;
            

            .card{
                text-align: center;

                .symbol{
                    display: inline;
                    width:100px;
                }
            }
        }
    }
    
    .newsletter{
        border: 3px solid $dark;
        position: relative;
        text-align: center;
        padding: 60px 20px;
        margin-top: 120px;
        img.paperplane{
            position: absolute;
            top: 0;
            left: 50px;
            width: 210px;
            background: $light;
            padding: 18px;
            transform: translateY(-50%);
        }
        .title{
            @include display-lg;
        }
        .subtitle{
            @include display-sm;
        }
        hr{
            max-width: 320px;
            width: 90%;
        }
        .text{
            @include display-md;
            max-width: 320px;
            margin: 0 auto;
        }
        .big{
            @include display-lg;
        }
        .es_shortcode_form{
            margin-top: 50px;
        }
        input{}
        .es_subscription_form_submit{
            margin: 0 auto;
        }
    }
}