@import "variables/colors";
@import "variables/fonts";

header {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: $primary;

  .logo {
    width: 200px;
    margin: 20px 0px;
  }
  .symbols{
    display: inline;
    position: absolute;
    right: 70px;
    
    .symbol{
      width: 50px;
      margin: 15px 5px;
    }
  } 
  .primary-menu{

    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin: 0px 25px;
    }
    a{
      font-size: $menu-size;
      color: $light;
      text-decoration: none;
      font-family: $heading;
    }
  }
  &.light{
    background: transparent;

    a{
      color: $primary;
    }
  }
}
