#hero {
  height: 400px;
  width: 100%;
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/hero.jpg) -640px;
  background-size: 1310px;
  background-repeat: no-repeat;
  background-color: #fee65f;
}
