nav.woocommerce-MyAccount-navigation{
    li::marker {
        content: none;
        
    }
    ul{
        padding: 0;
    }
    li{
        a{
            color:$medium;
        }
        &.is-active{
            a{
                color: $primary;
            }
        }
    }
    
}

.woocommerce-Address-title.title{
    position: relative;
    .edit {
        float: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        
    }

}