nav.woocommerce-MyAccount-navigation{
    li::marker {
        content: none;
        
    }
    ul{
        padding: 0;
    }
    li{
        a{
            color:$medium;
        }
        &.is-active{
            a{
                color: $primary;
            }
        }
    }
    
}
