.content.page {
  .featuredImage {
    width: 100%;
  }
  h1{
    color: $primary;
    font-family: $display;
    font-size: $display-xl;
    text-align: center;
  }
  p{
    margin-top: 28px;
    margin-bottom: 28px;
  }
}
