$heading: 'Caveat Brush', cursive;
$body: 'Josefin Sans', sans-serif;
$display: $heading;

$blog-heading: 'Josefin Sans', sans-serif;
$blog-body: 'Lora', serif;

$title-size: 65px;
$display-size: 35px;
$menu-size: 25px;
$heading-size: 35px;
$body-size: 20px;






