$body: 'Josefin Sans', sans-serif;
$body-sm: 20px; // subtext
$body-md: 38px; 

$display: 'Caveat Brush', cursive;
$display-sm: 25px;
$display-md: 35px;
$display-xl: 47px;

$blog-body: 'Josefin Sans', sans-serif;
$blog-body-sm: 18px;
$blog-body-md: 20px;
$blog-body-xl: 37px;

$blog-display: 'Josefin Sans', sans-serif;
$blog-display-xl: 48px;





