@import "../variables/colors";
// $blog-body: 'Josefin Sans', sans-serif;
// $blog-body-md: 37px;

// $blog-display: 'Josefin Sans', sans-serif;
// $blog-display-xl: 48px;
#blog-post{
    h1{
        @include blog-body-lg;
        color: $primary;
    }
    p{
        @include blog-body-md;
        color: $dark;
    }
    .blog-tag{
        a{
            color: $medium;
        }
    }

}
.categories{
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;
        a{
            color: $medium;
        }

        .active{
            color: $primary;
        }
}
.blog-card{
    display: flex;
    margin-bottom: 40px;
    .container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    }
    .image{
        width: 40%;
        img{
            width:100%
        }
    }
    .blog-tag{
        a{
            color: $medium;
        }
    }
    .title{}
    .excerpt{

    }
}