@import "../variables/colors";
@import "../variables/fonts";


header.greeny {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: transparent;

  .logo {
    width: 200px;
    margin: 20px 0px;
  }
  .symbols{
    display: inline;
    position: absolute;
    right: 70px;
    
    .symbol{
      position: relative;
      display: inline-block;
      margin: 15px 5px;
      img{
        width: 50px;
      }

      .qty{
        position: absolute;
        top: 7px;
        right: -4px;
        background: $primary;
        color: $light;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        padding: 2px;
        border: 1px $light solid;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  } 
  .primary-menu{

    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin: 0px 25px;
    }
    a{
      font-size: $display-sm;
      font-family: $display;
      color: $primary;
      text-decoration: none;
    }
  }
  &.light{
    a{
      color: $light;
    }
    .symbols{
      display: inline;
      position: absolute;
      right: 70px;
      
      .symbol{
       
        .qty{
          color: $primary;
          border: 1px $primary solid;
          background: #fff;
        }
      }
    } 
  }
}

.single-product header.greeny{
  .symbols{
    .symbol{
      div.qty{
        color: #709CAF;
        border: 1px #709CAF solid;

      }
    }
  }
}