@import "scss/header";
@import "scss/variables/colors";
@import "scss/variables/fonts";
@import "scss/hero";
@import "scss/footer";
@import "scss/page";
@import "scss/front-page";
@import "scss/products";
@import "scss/blog";

// $body: 'Josefin Sans', sans-serif;
// $body-sm: 20px; 
// $body-md: 38px; 

// $display: 'Caveat Brush', cursive;
// $display-sm: 25px;
// $display-md: 35px;
// $display-xl: 47px;

// $blog-body: 'Josefin Sans', sans-serif;
// $blog-body-md: 37px;

// $blog-display: 'Josefin Sans', sans-serif;
// $blog-display-xl: 48px;


body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $blog-body;
  color: $dark;
  background: $light;
  font-size: $blog-body-md;
}
input{
  font-family: $body;
  font-size: $body-md;
  padding: 10px 10px;
}
.flexcenter{
  display: flex;
  justify-content: center;
}
.pointer{
cursor: pointer;
}
.button, input[type=button], input[type=submit]{
  background-color: $primary;
  color: $light;
  border: none;
  padding: 10px 20px;
  font-size: $display-sm;
  font-family: $display;
  cursor: pointer;

  &.contrast, &.es_submit_button{
    background-color: $contrast;
  }
}

.gap-3{
  gap: 30px;
}
.gap-4{
  gap: 40px;
}
.gap-5{
  gap: 50px;
}

a.page-link{
  margin-bottom: 60px;
  position: relative;
  font-size: $display-xl;
  font-family: $display;
  &::after{
    content: url(images/arrow2.svg);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,110%);
  }
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display;
}
a{
  color: $dark;
  text-decoration: none;
}

p {
  font-family: $body;
  margin: 10px 0;
}

.content {
  width: 100%; 
  margin: 0 auto;
  max-width: 1450px;
  padding: 20px;
  box-sizing: border-box;

}
.py{
  padding-top: 90px;
  padding-bottom: 90px;
}
.my{
  margin-top: 90px;
  margin-bottom: 90px;
}
.mt{
  margin-top: 90px;
}
.mb{
  margin-bottom: 90px;
}


.body-sm{ 
  font-family: $body;
  font-size: $body-sm;
}
.body-md{ 
  font-family: $body;
  font-size: $body-md;
}
.display-sm{ 
  font-family: $display;
  font-size: $display-sm;
}
.display-md{ 
  font-family: $display;
  font-size: $display-md;
}
.display-xl{ 
  font-family: $display;
  font-size: $display-xl;
}

.blog-body-md{ 
  font-family: $blog-body;
  font-size: $blog-body-md;
}

.blog-body-md{ 
  font-family: $blog-display;
  font-size: $blog-display-xl
}


.blog-title{
  font-family: $blog-display;
  font-size: $blog-display-xl;
  color: $primary;
  font-weight: bold;
}
.blog-tag{
  font-family: $blog-body;
  font-size: $blog-body-sm;
  color: $medium;
}
.blog-body{
  font-family: $blog-body;
  font-size: $blog-body-md;
  color: $dark;
}

.color-contrast{
  color: $contrast;
}
.color-contrast-dark{
  color: $contrast-dark;
}

.color-primary{
  color: $primary;
}
.color-light{
  color: $light;
}
.color-dark{
  color: $dark;
}
.color-medium{
  color: $medium;
}
.color-secondary{
  color: $secondary;
}
.color-secondary-light{
  color: $secondary-light;
}

.center{
 text-align: center;
}

.header-padding{
  padding-top: 140px;
}