@import "scss/header";
@import "scss/variables/colors";
@import "scss/variables/fonts";
@import "scss/hero";
@import "scss/footer";
@import "scss/page";
@import "scss/front-page";

// font-family: $heading
// font-family: $body
// font-family: $display
// font-family: $blog-heading
// font-family: $blog-body

body,
html {
  margin: 0;
  padding: 0;
  font-family: $body;
  color: $dark;
  background: $light;
  font-size: $body-size;
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
}
a{
  color: $dark;
  text-decoration: none;
}

p {
  font-family: $body;
}

.content {
  width: 100%; 
  margin: 0 auto;
  max-width: 1450px;
  padding: 20px;
  box-sizing: border-box;
}


.text-display{ 
  font-size: $display-size;
}
.text-menu{ 
  font-size: $menu-size;
}
.text-title{
  font-size: $title-size;
}
.text-body{ 
  font-size: $body-size;
}
.text-heading{ 
  font-size: $heading-size;
}

.font-display{
  font-family: $heading;
}

.color-contrast{
  color: $contrast;
}
.color-primary{
  color: $primary;
}
.color-light{
  color: $light;
}
.color-dark{
  color: $dark;
}
.color-medium{
  color: $medium;
}
.color-secondary{
  color: $secondary;
}
.color-secondary-light{
  color: $secondary-light;
}

