@import "scss/variables/media-queries";
@import "scss/variables/fonts";
@import "scss/variables/colors";
@import "scss/components/header";
@import "scss/components/hero";
@import "scss/components/footer";
@import "scss/page";
@import "scss/front-page";
@import "scss/components/products";
@import "scss/components/blog";
@import "scss/single-product";
@import "scss/components/ingredients";
@import "scss/components/symbols";
@import "scss/cart";
@import "scss/myaccount";
@import "scss/components/spinner";
@import "scss/components/info-box";
@import "scss/components/mobile-menu.scss";

// $body: 'Josefin Sans', sans-serif;
// $body-sm: 20px; 
// $body-md: 38px; 

// $display: 'Caveat Brush', cursive;
// $display-sm: 25px;
// $display-md: 35px;
// $display-xl: 47px;

// $blog-body: 'Josefin Sans', sans-serif;
// $blog-body-md: 37px;

// $blog-display: 'Josefin Sans', sans-serif;
// $blog-display-xl: 48px;


body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  color: $dark;
  background: $light;
  @include blog-body-md;
  height: 100%;
  overflow-x: hidden;
}

body{
  display: flex;
  flex-direction: column;
}
.wrapper{
  flex: 1 0 auto
}
input{
  @include body-sm;
  padding: 10px 10px;
}
.flexcenter{
  display: flex;
  justify-content: center;
}
.pointer{
cursor: pointer;
}
.button, input[type=button], input[type=submit], .woocommerce button.button.alt, .es_textbox_button{
  background-color: $primary;
  color: $light;
  border: none;
  display: inline-flex;
  align-items: center;  
  padding: 10px 20px;
  @include display-sm;
  cursor: pointer;
  position: relative;

  &.contrast, &.es_submit_button{
    background-color: $contrast;
  }
  &.contrast:hover, &.es_submit_button:hover{
    background-color: #deaa22;
  }
  

  .symbol{
    display: inline;
    width: 40px;
    margin-left: 10px;
  }

  &:hover{
    background: #2b8952;
  }
}
.es_textbox_button{
  background-color: $contrast-dark  !important;
  color: $light  !important;
  border: none  !important;
  display: flex  !important;
  align-items: center  !important;  
  padding: 10px 20px  !important;
  @include display-sm;
  cursor: pointer  !important;
  position: relative  !important;
  border-radius: 0  !important;

  &:hover{
    background-color: #deaa22 !important;
  }

}
.hidden{
  display: none;
}

/// pagination
.page-nav-container{
  display: flex;
  justify-content: center;
  @include display-md;
  .current{
    color: $primary;
  }
  a,span{
    border: 1px solid #c9c9c9;
    width: 40px;
    height: 40px;
    margin-right: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
///# pagination

.gap-3{
  gap: 30px;
}
.gap-4{
  gap: 40px;
}
.gap-5{
  gap: 50px;
}

a.page-link{
  margin-bottom: 60px;
  position: relative;
  @include display-lg;
  &::after{
    content: url(images/arrow2.svg);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,110%);
  }
}
a:hover {
  opacity: .8;
}
.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include lt-sm{
    grid-template-columns: 1fr;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display;
}
h1{
  @include display-lg;
}
h2{
  font-size: 30px ;
}
h3{
  font-size:  23.4px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 16.6px;
}

a{
  color: $dark;
  text-decoration: none;
}

p {
  font-family: $body;
  margin: 10px 0;
}

.content {
  width: 100%; 
  margin: 0 auto;
  max-width: 1450px;
  padding: 20px;
  box-sizing: border-box;
  &.text{
    max-width: 900px;
    line-height: 30px;
  }

}
.py{
  padding-top: 90px;
  padding-bottom: 90px;
}
.my{
  margin-top: 90px;
  margin-bottom: 90px;
}
.mt{
  margin-top: 90px;
}
.mt-1{
  margin-top: 40px;
}
.mb{
  margin-bottom: 90px;
}
.mb-1{
  margin-bottom: 40px;
}


.body-sm{ 
  @include body-sm;
}
.body-md{ 
  @include body-md;
}
.display-sm{ 
  @include display-sm;
}
.display-md{ 
  @include display-md;
}
.display-xl{ 
  @include display-lg;
}

.blog-body-md{ 
  @include blog-body-md;
}

.blog-body-md{ 
  @include blog-display-lg;

}


.blog-title{
  @include blog-display-lg;
  color: $primary;
  font-weight: bold;
}
.blog-tag{
  @include blog-body-sm;
  color: $medium;
}
.blog-body{
  @include blog-body-md;
  color: $dark;
}

.color-contrast{
  color: $contrast;
}
.color-contrast-dark{
  color: $contrast-dark;
}

.color-primary{
  color: $primary;
}
.color-light{
  color: $light;
}
.color-dark{
  color: $dark;
}
.color-medium{
  color: $medium;
}
.color-secondary{
  color: $secondary;
}
.color-secondary-light{
  color: $secondary-light;
}

.center{
 text-align: center;
}

.header-padding{
  padding-top: 140px;
  @include lt-sm{
    // padding-top: 105px;
  }
}

//Animations
.animate{
  opacity: 0;
}
.slideIn{
  &.activated{
    opacity: 1;
    animation: .8s ease 0s slideIn;
  }
}
@keyframes slideIn {
  0% {
  transform: translateY(60px);
  opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideInCenter{
  transition: all .8s ease;
  transform: translate(-50%, -45%);
  &.activated{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}