@import "scss/variables/colors";
@import "scss/variables/fonts";

h1, .editor-post-title__input{
    color: $primary;
    font-family: $display;
    font-size: $display-xl;
    text-align: center;
}

p {
  font-family: $blog-body;
  color: $dark;
  font-size: $blog-body-md;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display;
    color: $dark;
}

h1{
    font-size: $display-xl;
}
h2{
    font-size: 30px ;
}
h3{
    font-size:  23.4px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16.6px;
}
.wp-block {
    max-width: 900px;
}