@import "scss/variables/media-queries";
@import "scss/variables/colors";
@import "scss/variables/fonts";

h1, .editor-post-title__input{
    color: $primary;
    @include display-lg;
    text-align: center;
}

p {
  color: $dark;
  @include blog-body-md;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark;
}

h1{
    @include display-lg;
}
h2{
    font-size: 30px ;
}
h3{
    font-size:  23.4px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16.6px;
}
.wp-block {
    max-width: 900px;
}