header {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #2c9558;
}
header .logo {
  width: 200px;
  margin: 20px 0px;
}
header .primary-menu {
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .primary-menu li {
  display: inline-block;
  margin: 0px 25px;
}
header .primary-menu a {
  font-size: 25px;
  color: #f5f5f5;
  text-decoration: none;
  font-family: "Caveat Brush", cursive;
}

#hero {
  height: 400px;
  width: 100%;
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/hero.jpg) -640px;
  background-size: 1310px;
  background-repeat: no-repeat;
  background-color: #fee65f;
}

footer {
  background: #2c9558;
  padding-top: 60px;
}
footer .some-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}
footer .some-buttons img {
  width: 70px;
}
footer .secundary-menu {
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 50px 0;
}
footer .secundary-menu li {
  display: inline-block;
  margin: 0px 25px;
}
footer .secundary-menu a {
  font-size: 25px;
  color: #f5f5f5;
  text-decoration: none;
  font-family: "Caveat Brush", cursive;
}

.content.page .featuredImage {
  width: 100%;
}

#front-page .hero {
  background: #2c9558;
  position: relative;
  height: 500px;
  margin-bottom: 254px;
}
#front-page .hero .text {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 40px 0 40px 0;
}
#front-page .hero .text p:nth-child(1) {
  text-transform: uppercase;
}
#front-page .hero img {
  width: 800px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
#front-page .starterpack {
  text-align: center;
  position: relative;
}
#front-page .starterpack a {
  text-decoration: underline;
}
#front-page .starterpack p {
  position: relative;
}
#front-page .starterpack .blue-circle:nth-of-type(1) {
  width: 330px;
  height: 330px;
  opacity: 0.1;
  border-radius: 100%;
  background: #2699fb;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-180px, 10px);
}
#front-page .starterpack .blue-circle:nth-of-type(2) {
  width: 60px;
  height: 60px;
  opacity: 0.1;
  border-radius: 100%;
  background: #2699fb;
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translate(-230px, 0px);
}
#front-page .starterpack .blue-circle:nth-of-type(3) {
  width: 90px;
  height: 90px;
  opacity: 0.1;
  border-radius: 100%;
  background: #2699fb;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(130px, 0px);
}
#front-page .starterpack .fruits {
  height: 120px;
  position: relative;
}
#front-page .starterpack .fruits img {
  left: 50%;
  top: 0%;
  position: absolute;
}
#front-page .featured-products {
  margin: 0px auto;
  text-align: center;
}
#front-page .featured-products .image {
  width: 100%;
}
#front-page .featured-products .excerpt {
  max-width: 330px;
  margin: 0 auto;
}
#front-page .featured-products .price {
  font-family: "Caveat Brush", cursive;
  font-size: 35px;
}
#front-page .featured-products .add-to-cart-button {
  width: 50px;
}
#front-page .featured-products .flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#front-page .symbols-container {
  position: relative;
  margin: 100px auto;
  margin-top: 170px;
  max-width: 700px;
}
#front-page .symbols-container > p:nth-of-type(1), #front-page .symbols-container > img:nth-of-type(1) {
  position: absolute;
}
#front-page .symbols-container .symbols {
  display: inline-flex;
  gap: 40px;
  text-align: center;
}
#front-page .about-greeny {
  background: #2c9558;
}
#front-page .about-greeny .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#front-page .about-greeny .cards .card {
  text-align: center;
}
#front-page .about-greeny .cards .card .symbol {
  display: inline;
  width: 100px;
}
#front-page .blog-card {
  display: flex;
  margin-bottom: 40px;
}
#front-page .blog-card img {
  width: 100%;
  max-width: 600px;
}
#front-page .newsletter {
  border: 3px solid #404040;
  position: relative;
  text-align: center;
  padding: 60px 20px;
  margin-top: 120px;
}
#front-page .newsletter img.paperplane {
  position: absolute;
  top: 0;
  left: 50px;
  width: 210px;
  background: #f5f5f5;
  padding: 18px;
  transform: translateY(-50%);
}
#front-page .newsletter .title {
  font-family: "Caveat Brush", cursive;
  font-size: 65px;
}
#front-page .newsletter .subtitle {
  font-family: "Caveat Brush", cursive;
}
#front-page .newsletter hr {
  max-width: 320px;
  width: 90%;
}
#front-page .newsletter .text {
  font-family: "Caveat Brush", cursive;
  font-size: 35px;
  max-width: 320px;
  margin: 0 auto;
}
#front-page .newsletter .big {
  font-size: 65px;
}
#front-page .newsletter .es_shortcode_form {
  margin-top: 50px;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #404040;
  background: #f5f5f5;
  font-size: 20px;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.button, input[type=button], input[type=submit] {
  background-color: #2c9558;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  font-size: 35px;
  font-family: "Caveat Brush", cursive;
  cursor: pointer;
}
.button.contrast, .button.es_submit_button, input[type=button].contrast, input[type=button].es_submit_button, input[type=submit].contrast, input[type=submit].es_submit_button {
  background-color: #fdc83e;
}

a.page-link {
  position: relative;
  font-size: 35px;
  font-family: "Caveat Brush", cursive;
}
a.page-link::after {
  content: url(images/arrow2.svg);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 110%);
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Caveat Brush", cursive;
}

a {
  color: #404040;
  text-decoration: none;
}

p {
  font-family: "Josefin Sans", sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1450px;
  padding: 20px;
  box-sizing: border-box;
}

.text-display {
  font-size: 35px;
}

.text-menu {
  font-size: 25px;
}

.text-title {
  font-size: 65px;
}

.text-body {
  font-size: 20px;
}

.text-heading {
  font-size: 35px;
}

.font-display {
  font-family: "Caveat Brush", cursive;
}

.color-contrast {
  color: #fdc83e;
}

.color-contrast-dark {
  color: #f5af00;
}

.color-primary {
  color: #2c9558;
}

.color-light {
  color: #f5f5f5;
}

.color-dark {
  color: #404040;
}

.color-medium {
  color: #9d9d9d;
}

.color-secondary {
  color: #2699fb;
}

.color-secondary-light {
  color: #a5cbef;
}