h1, .editor-post-title__input {
  color: #2c9558;
  font-family: "Caveat Brush", cursive;
  font-size: 47px;
  text-align: center;
}
@media screen and (max-width: 599px) {
  h1, .editor-post-title__input {
    font-size: 30px;
  }
}

p {
  color: #404040;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
@media screen and (max-width: 599px) {
  p {
    font-size: 17px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #404040;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 47px;
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 23.4px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16.6px;
}

.wp-block {
  max-width: 900px;
}